/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-sm-2 {
        min-width: 14.5%;
        max-width: 14.5%;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .col-sm-2 {
        min-width: 15.5%;
        max-width: 15.5%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }

  nav {font-family: 'Dancing Script', cursive;
  }

  nav img {
    min-width: 35px;
    max-width: 35px;
  }

  body {
      background-image: url("./background.jpg");
      font-family: 'Sriracha', cursive;
  }

.fade-leave-active {
    transition: opacity .5s;
  }
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }